/*Estilos forms */
.form-group {
    margin-top: 30px;
    /*padding: 0 20px;*/
}
.form-group button, .btn-danger, .btn-primary {
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    padding: 4px 12px;
}

.upload-form, .site-login, .ranking-form, .notas-form{
    font-size: 12px;
    padding: 0 30px;
    width: 55%
}

.upload-form h1, .site-login h1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#uploadform-archivo{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 90%;
}

.site-login .col-lg-1{
    width: 25%;
}
.site-login .col-lg-3{
    width: 60%;
    display: inline;
}
.site-login .form-horizontal .checkbox{
    padding: 0 140px;
}
/*.site-login .form-horizontal .field-loginform-rememberme{
    padding: 0;
}*/

/*Estilo /images */
.jumbotron .image{
    
}
/* Estilos Barra Navegacion */
.navbar-inverse{
    background-color: #000029;
    border-color: #000014;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #00001F;
}

/* Estilos campos de texto */
.form-control {
    display: block;
    width: 90%;
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/* Estilos gridview*/
.grid-view{
    font-size: 12px;
}

th{
    text-align: center;
}
thead tr.filters td{
}

thead tr.filters .form-control{
    width: 50%;
    text-align: left;
}

table .table-striped .table-bordered{
    text-transform: uppercase;
}

table.table-striped  tr th{
    padding: 3px;
}

table.table-striped  tr td{  
    padding: 3px;
    text-transform: uppercase;
}

/*Estilos vista*/

.estudiantes-view .well h1{
    text-transform: lowercase;
    
}

.estudiantes-view, .tutor-view, .ue-view, .usuarios-view{
    font-size: 12px;
    padding: 0 30px;
    width: 55%;
}

.estudiantes-view h1, .tutor-view h1, .ue-view h1, .usuarios-view h1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.estudiantes-view p, .tutor-view p, .ue-view p, .usuarios-view p{
    float: right;
}

.detail-view tbody th{
    width: 30%;
    text-align: left;
}

/*Estilos Update*/
.estudiantes-update, .tutor-update, .ue-update, .usuarios-update{
    font-size: 12px;
    padding: 0 30px;
    width: 55%;
}

.estudiantes-update h1, .tutor-update h1, .ue-update h1, .usuarios-update h1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.estudiantes-update .control-label, .tutor-update .control-label, .ue-update .control-label, .usuarios-update .control-label{
    width: 25%;
}

.estudiantes-update input, .tutor-update input, .ue-update input, .usuarios-update input{
    width: 60%;
    display: inline;
}

/*Autocomplete*/
.tt-menu{
    width: 400px;
    text-transform: lowercase;
}

.link_etapas{
    background: url("../images/circulo_azul.png") no-repeat scroll 0 0 transparent;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    padding-top: 2px;
    margin-right: 5px;
}

.link_etapas span{
    color: #ffffff;
    margin: 6px 6px 0;
}








