html,
body {
    height: 100%;
    font-size: 13px;
    
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*menu inico*/
.logo-inicio {
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    width: 30px;
}
.logo-texto {
    float: left;
}


/*titulo principal site*/
.jumbotron p {
    color: #000029;
    font-size: 23px;
    font-weight: bold;
}


/* site/index */
.col-lg-4 a:hover {
    text-decoration: none;
}

/**/
.sidebar{
    float: left;
    width: 14%;
}

.main{
    width: 85%; 
    float: right;
}


/* Clasificacion */
.clasificacion h2 {
    text-align: center;
}

.lead {
    text-align: center;
}

.main-content a:hover {
    text-decoration: none;
}


/*para quitar los slash del breadcrumb */
.breadcrumb > li + li::before {
    content: " ";
}

/*alinear breadcrumb*/
.breadcrumb > li{
    display: inline;
}

/*ultimo breadcrumb*/
.breadcrumb > li + li::before {
    padding: 0;
}
.breadcrumb > .active {
    font-size: 12px;
    padding-left: 35px;
    padding-right: 15px;
}

/*breadcrumb*/
.breadcrumb {
    display: inline-block;
	overflow: hidden;
	padding: 0;
    border: 1px solid #ddd;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 23px;

	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 45px;
	
	position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 35px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}

.breadcrumb a:last-child {
	padding-right: 15px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #eee;
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #eee;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	/*posicion del cuadrado como flecha*/
	top: -1px; 
    right: -13px;
	/*tamaño de lados del cuadrado como flecha*/
	width: 25px; 
	height: 25px;
	/*rota el cuadrado generado a 45 grados*/
	transform: scale(0.757) rotate(45deg);
	/*para prevenir que las flechas se oculten al aprecer el siguiente link*/
	z-index: 1;
	/*box shadow flecha*/
	box-shadow: 
		2px -2px 0 0 rgba(0, 0, 0, 0.1), 
		1px -1px 0 0.5px rgba(255, 255, 255, 0.1);
	/*curvatura de la flecha*/
	border-radius: 0;
}
/*we dont need an arrow after the last link
.breadcrumb a:last-child:after {
	content: none;
}*/

.back a{
    text-decoration: none;
    padding: 0 30px;
}

