Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value memory_limit 5000M
php_value max_input_vars 20000
# otherwise forward it to index.php
RewriteRule . index.php